// Override this file to add your own SCSS styling.

.container {
    max-width: 900px;
}

.avatar {
    width: 230px;
    height: 230px;
    margin: 0 auto;
    object-fit: cover;
}

h1 {
    font-size: 1.80rem;
}

.big-icon {
    font-size: 1.75rem;
}

.card {
    margin-bottom: 0.5rem;
    overflow: hidden;
    text-overflow: ellipsis;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px 0px;
    transition: all 0.2s ease-out 0s;
}

